.input-areas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.field{
    font-size: 20px;
    padding-right: 20px;
}
.email-input{
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    margin-bottom: 30px;
    font-size: 18px;
    border: 1px solid black;
    color: rgb(44, 44, 44);
}

.password-input{
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    margin-bottom: 30px;
    font-size: 18px;
    border: 1px solid black;
    color: rgb(44, 44, 44);
}
.code-input{
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    border: 1px solid black;
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(44, 44, 44);
}

@media (max-width: 378px){
    .field{
        font-size: 1rem;
    }
    .email-input{
        padding: 8px 10px;
        border-radius: 4px;
        margin-right: 5px;
        outline: none;
        margin-bottom: 10%;
        font-size: 15px;
        border: 1px solid black;
        color: rgb(44, 44, 44);
    }
    .password-input{
        padding: 8px 10px;
        border-radius: 4px;
        margin-right: 10px;
        outline: none;
        margin-bottom: 10%;
        font-size: 15px;
        border: 1px solid black;
        color: rgb(44, 44, 44);
    }
    .code-input{
        padding: 8px 10px;
        border-radius: 4px;
        margin-right: 10px;
        outline: none;
        border: 1px solid black;
        margin-bottom: 10%;
        font-size: 15px;
        color: rgb(44, 44, 44);
    }
}