.navbar-container{
    background-color:  #b21022;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;

}
.nav-logo{
    width: 30%;
    margin: 0;
    padding-top: 40px;
}