.navbar{
    background-color: #b21022;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12%;
}
.nav-logo img{
    width: 35%;
    /* height: 140px; */
    padding-top: 15px;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logouticon{
    width: 32px;
    padding-left: 5px;
}